import yaml

try:
    import importlib.resources as importlib_resources
except ImportError:
    # Try backported to PY<37 `importlib_resources`.
    import importlib_resources


def get_provider_info():
    return yaml.safe_load("""
{{ PROVIDER_INFO }}
""")
